@use "./vendors/tailwind-output.css";
@use "./components/Weather/all.scss";
@use "./components/SearchBar/search-bar.scss";

:root {
  --oldSilver: #858585;
}

body {
  font-family: "Inter", sans-serif;
}

// Forecast

.weather-basis-switch {
  margin: 0 auto;
  display: flex;
  grid-column: 1 / -1;
  padding: 3px;
  width: 77vw;
  border-radius: 19px;
  background-color: #009721;
}

.weather-basis-switch-btn {
  flex: 1;
  color: white;
  border-radius: 19px;
}

.weather-basis-switch-btn[data-active="true"] {
  background: white;
  color: #009721;
}

.weather-forecast-elements {
  margin: 0 auto;
  max-width: 1600px;
}

.weather-forecast-elements[data-timebasis="daily"] {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  padding: clamp(0px, 5.5vw, 33px);
  justify-items: center;
}

.weather-forecast-elements[data-timebasis="hourly"] {
  display: flex;
  gap: 12px;
  padding: 20px;
  overflow: scroll;
  width: unset;
}

.weather-forecast-elements[data-timebasis="hourly"] .weather-data-container {
  flex-shrink: 0;
  width: unset;
  box-shadow: inset 0px 14.6rem 6px rgb(0 0 0 / 57%);
  border-radius: 8px;
}

@media (min-width: 768px) {
  .weather-basis-switch {
    padding: 4px;
    max-width: 450px;
    border-radius: 22px;
  }

  .weather-basis-switch-btn {
    font-size: 1.5rem;
    padding: 0.125rem 0px;
  }
}
