@use "../../utils/sr-only.scss";

.App[data-fetching-weather-data="true"] .weather-data-container-bg-placeholder {
  transition: 50ms ease-in-out;
  opacity: 1;
}

.App[data-fetching-weather-data="true"]
  :where(
    .weather-location-city,
    .weather-location-state,
    .weather-location-country,
    .weather-time,
    .weather-data-element-value
  ) {
  opacity: 0;
  position: relative;
}

.weather-data-container {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  width: 100%;
}

.weather-data-container-bg,
.weather-data-container-bg-placeholder {
  position: absolute;
  background-size: cover;
  inset: 0px 0px 0px 0px;
}

.weather-data-container-bg-placeholder {
  transition: 350ms ease-in-out;
  opacity: 0;
}

.weather-data-inner-container {
  height: 100%;
  position: relative;
  display: grid;
  background: linear-gradient(
    180deg,
    transparent,
    #0000006b 20%,
    #0000006e,
    #00000038 100%
  );
}

.weather-meta-info {
  display: inline-flex;
  margin-bottom: 5px;
  flex-direction: column;
  position: relative;
  color: white;
  align-items: flex-start;
  font-weight: 300;
  filter: drop-shadow(0px 3px 4px black);
  line-height: 0.9;
}

.weather-location {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 9px;
}

.weather-location-city {
  font-size: 1.5rem;
  display: flex;
  order: 2;
}

.weather-location-icon {
  display: inline-block;
  transform: translateY(-2px);
}

.weather-location-icon svg {
  width: 1.5rem;
  height: 1.5rem;
}

.weather-location-state {
  display: none;
}

.weather-location-country {
  font-size: 1rem;
  padding-left: 0.3125rem;
  margin-bottom: 0.5rem;
}

.weather-time {
  font-size: 0.875rem;
  padding-left: 5px;
}

.weather-data-elements-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather-data-elements-container-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
  row-gap: 12px;
}

.weather-data-element {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 272px;
  height: min-content;
  gap: 10px;
  padding: 0px 2.5%;
}

.weather-data-element-icon {
  flex: 2;
  max-width: 88px;
  aspect-ratio: 1 / 1;
  background-size: cover;
  filter: drop-shadow(0px 0px 4px black);
}

.weather-data-element-info {
  flex: 5;
  max-width: 108px;
  color: white;
  text-shadow: 0px 3px 6px black, 0px 1px 11px black;
  line-height: 0.8;
}

.weather-data-element-value {
  font-size: 1.625rem;
}

.weather-data-element:nth-of-type(odd) {
  justify-self: end;
  width: 100%;
}

.weather-data-element[data-type="Temperature"] .weather-data-element-title,
.weather-data-element[data-type="weather-code"] .weather-data-element-info {
  @extend .sr-only;
}

.weather-data-element-title {
  font-size: 1.0625rem;
  margin-bottom: 7px;
}

.weather-data-element[data-type="weather-code"] {
  width: 100%;
  justify-self: center;
  flex-direction: column;
  padding: 0px;
  margin-bottom: 8px;
}

.weather-data-element[data-type="weather-code"] .weather-data-element-icon {
  width: 59%;
  max-width: 256px;
}

.weather-data-element[data-type="Temperature"] .weather-data-element-value {
  font-size: 2.5rem;
  position: relative;
}

:where(
    .weather-data-element[data-type="Temperature"],
    .weather-data-element[data-type="Feels like"]
  )
  .weather-data-element-value-unit {
  @extend .sr-only;
}

:where(
    .weather-data-element[data-type="Temperature"],
    .weather-data-element[data-type="Feels like"]
  )
  .weather-data-element-value::after {
  content: "°";
  display: inline-block;
  position: absolute;
}

.weather-location-city,
.weather-location-state,
.weather-location-country,
.weather-time,
.weather-data-element-value {
  min-height: 0.9em;
}
